@font-face {
    font-family: norse-bold;
    src: url("./font/Norse-Bold.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: white;
}

.main {
    display: flex;
}

.img-section {
    background-position: center center;
    background-size: cover;
    background-image: url("img/bg-img.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: white;
    text-align: center;
    
}

.logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse-bold, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    font-size: 5em;
    margin-top: 20vh;
    padding: 16px;
}

.attribution-bg-img {
    font-size: .8em;
}

.logo-banner img {
    height: 120px;
}